@page "/ProductList"
@inject NavigationManager NavManager
@inject NavigationManager Navigation
@inject IproductService ProductService
@using PointofSaleSystem.Models
@using PointofSaleSystem.Services

<h1 class="page-title">Product Details</h1>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <p>Total Products: @products.Count</p>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in products)
                {
                    <tr>
                        <td>@product.ProductName</td>
                        <td>@product.Quantity</td>
                        <td>@product.Description</td>
                        <td>@product.Price</td>
                        <td>@product.Category</td>
                        <td>
                            <button @onclick="@(() => EditProduct(product.ProductID))" class="btn btn-primary btn-sm">Edit</button>
                        </td>
                        <td>
                            <button @onclick="@(() => DeleteProduct(product))" class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div>
        <button @onclick="GoBack" class="mt-2 btn btn-secondary">Go Back</button>
    </div>
}

<style>
    body {
        background: radial-gradient(circle, #FFB6C1, #FFA07A); /* Light red radial gradient background */
        color: #333;
        margin: 0;
        font-family: 'Segoe UI Bold', sans-serif;
    }

    .table-responsive {
        margin-top: 20px;
    }

    .page-title {
        font-size: 2.5em;
        color: #000;
        font-weight: bold;
        font-family: 'Arial', sans-serif;
        text-align: center;
        position: relative;
        margin-bottom: 20px;
    }

        .page-title::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: #000;
            position: absolute;
            bottom: 0;
            left: 0%;
        }

    .table th, .table td {
        text-align: center;
    }
</style>

@code {
    private List<ProductModel> products;

    protected override async Task OnInitializedAsync()
    {   
        ProductService product = new ProductService();
        products = await ProductService.GetAllProduct();
    }

    private void EditProduct(int productID)
    {
        NavManager.NavigateTo($"/update_product/{productID}");
    }

    private async void DeleteProduct(ProductModel product)
    {
        ProductService product1 = new ProductService();
        var response = await product1.DeleteProduct(product);
        if (response > 0)
        {

            await OnInitializedAsync();
            StateHasChanged();
        }
    }

    private void GoBack()
    {
        Navigation.NavigateTo("/Home");
    }
}
